:root {
  --hoverCircle: #ef6060;
	--selectedColor: #000000;
	--hoverBorderSize: 2
}

.portugal-map path {
	pointer-events: all;
	stroke: black;
	stroke-width: 0.2;
	pointer-events: all;
	cursor: pointer;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
}

.portugal-map g {
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
}

.portugal-map g:hover {
	opacity: 1 !important;
}

.portugal-map g:hover path {
	stroke: var(--selectedColor);
	stroke-width: var(--hoverBorderSize);
}

.portugal-map circle {
	cursor: pointer;
	stroke-width: 1px;
	stroke: black;
	opacity: 1;
	fill: #fafafa;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	fill: #fff;
}

.portugal-map circle:hover {
	fill: var(--hoverCircle);
}

.portugal-map rect {
	stroke: #000;
	stroke-dasharray: 2;
	stroke-width: 0.5px;
}

.active path {
	fill: var(--selectedColor);
}